{% extends 'layouts/layout_index.html' %}
{% load static %}

{% block title %}
    Inicio sesion
{% endblock %}
{% block content %}

    <main class="bg-gradient-to-b from-[#041562] to-[#11468F] text-gray-800 h-screen flex flex-col">
        {% include 'includes/common/header.html' %}

        <div class="flex-grow flex items-center justify-center max-w-screen-xl px-8 xl:px-16 mx-auto">
            <div class="grid grid-flow-row sm:grid-flow-col grid-rows-2 md:grid-rows-1 sm:grid-cols-2 gap-8 w-full">
                <div class="flex justify-center items-center">
                    <img src="{{ MEDIA_URL }}img/fondo.png" alt="fondo" class="w-full h-auto max-h-120 object-contain" />
                </div>

                <div class="flex flex-col justify-center items-start text-center sm:text-left">
                    <h1 class="text-3xl lg:text-4xl xl:text-5xl font-medium text-[#7AB2D3] leading-normal">
                        La forma más fácil de <strong>manejar tu dinero</strong>, estés donde estés.
                    </h1>
                    <p class="text-[#DFF2EB] mt-4 mb-6">
                        Hacer transferencias, controlar tus movimientos y gestionar tus favoritos nunca fue tan sencillo.
                    </p>
                    {% if not user.is_authenticated %}
                        {% include 'includes/buttons/register.html' %}
                    {% endif %}
                </div>
            </div>
        </div>

        {% include 'includes/common/footer.html' %}
    </main>

{% endblock %}
