{% extends 'layouts/layout_admin.html' %}


{% block content %}
    <body class="bg-gray-100 font-sans">
        <div class="flex-1 flex flex-col">
            <main class="flex-1 bg-gray-50">
                <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                        <!-- Card 1 -->
                        <div class="bg-white shadow-md rounded-lg p-6">
                            <h3 class="text-lg font-medium text-gray-800">Gestionar Usuarios</h3>
                            <p class="text-gray-600 mt-2">Administrar usuarios registrados en el sistema.</p>
                            <a href="{% url 'usuario:user_list' %}" class="inline-block mt-4 px-4 py-2 bg-blue-500 text-white text-sm rounded hover:bg-blue-600">
                                Ver Detalles
                            </a>
                        </div>

                        <div class="bg-white shadow-md rounded-lg p-6">
                            <h3 class="text-lg font-medium text-gray-800">Gestionar Motivos</h3>
                            <p class="text-gray-600 mt-2">Administrar los motivos disponibles para las transferencias.</p>
                            <a href="{% url 'usuario:motivo_list' %}" class="inline-block mt-4 px-4 py-2 bg-blue-500 text-white text-sm rounded hover:bg-blue-600">
                                Ver Detalles
                            </a>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </body>
{% endblock %}