{% extends 'layouts/layout_admin.html' %}

{% block title %}
    Admin - Editar motivo
{% endblock %}


{% block content %}
    <body class="bg-gray-600 min-h-screen flex items-center justify-center">
        <div class="w-full max-w-lg mx-auto bg-white p-6 rounded-lg shadow-md">
            <h2 class="text-2xl font-bold text-center text-gray-700 mb-6">Editar Motivo</h2>
            <form  method="post" class="space-y-4">
                {% csrf_token %}
                <div>
                    <label for="id_balance" class="block text-sm font-medium text-gray-700">{{ form.as_p }}</label>
                </div>
                <div>
                    <button
                        type="submit"
                        class="w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-md transition duration-150"
                    >
                        Guardar cambios
                    </button>
                </div>
            </form>

            <div class="text-center mt-4">
                <a href="{% url 'usuario:motivo_list' %}" class="ml-4 bg-gray-600 text-white py-2 px-4 rounded-lg hover:bg-gray-700 focus:ring focus:ring-gray-300">Volver</a>
            </div>
        </div>
    </body>

{% endblock %}
