
{% extends 'layouts/base.html' %}

{% block title %}
    Eliminar motivo
{% endblock %}

{% block content %}
    <body class="bg-gray-300 min-h-screen">
        <div class="max-w-lg mx-auto py-12 px-6 sm:px-12 ">
            <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                <div id="alert-additional-content-2" class="p-4 mb-4 text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
                  <div class="flex items-center">
                    <svg class="flex-shrink-0 w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <h3 class="text-lg font-medium">Eliminar Motivo</h3>
                  </div>
                  <div class="mt-2 mb-4 text-sm">
                    ¿Estás seguro de que deseas eliminar el motivo ?
                  </div>
                  <div class="flex gap-8">
                    <a href="{% url 'usuario:motivo_list' %}" class="text-red-800 bg-transparent border border-red-800 hover:bg-red-900 hover:text-white focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-xs px-3 py-1.5 text-center dark:hover:bg-red-600 dark:border-red-600 dark:text-red-500 dark:hover:text-white dark:focus:ring-red-800" data-dismiss-target="#alert-additional-content-2" aria-label="Close" >
                      Cancelar
                    </a>
                      <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="text-white bg-red-800 hover:bg-red-900 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-xs px-3 py-1.5 me-2 text-center inline-flex items-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Sí, eliminar</button>
                    </form>
                  </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}
