{% extends 'layouts/layout_auth.html' %}
{% load static %}

{% block title %}
	Iniciar sesion
{% endblock %}

{% block url_img %}
    <img src="{{ MEDIA_URL }}/img/login.jpeg"  alt="login" class="object-cover rounded-t-lg md:rounded-l-lg h-full w-full " />
{% endblock url_img%}

{% block content %}
    <body class="bg-gray-600 flex items-center justify-center h-screen">
        <div class="bg-white shadow-lg rounded-lg p-8 w-full max-w-md">
            <h2 class="text-2xl font-bold text-gray-700 text-center mb-6">Iniciar Sesión</h2>
            <form method="post" class="space-y-6">
                {% csrf_token %}
                <div>
                    <label for="username" class="block text-sm font-medium text-gray-600">Usuario</label>
                    <input type="text" name="username" id="username"
                        class="bg-gray-300 w-full mt-1 px-4 py-2 border rounded-lg focus:ring focus:ring-blue-300 focus:outline-none">
                </div>
                <div>
                    <label for="password" class="block text-sm font-medium text-gray-600">Contraseña</label>
                    <input type="password" name="password" id="password"
                        class="bg-gray-300 w-full mt-1 px-4 py-2 border rounded-lg focus:ring focus:ring-blue-300 focus:outline-none">
                </div>

                <button type="submit"
                    class="w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 focus:ring focus:ring-blue-300">Entrar</button>
            </form>
            <p class="mt-6 text-sm text-center text-gray-600">
                ¿No tienes cuenta?
                <a href="{% url 'usuario:register' %}" class="text-blue-600 hover:underline">Regístrate</a>
            </p>
            <a href="{% url 'home' %}" class="underline flex justify-center items-center text-normal text-black py-8">Regresar a inicio</a>
        </div>
    </body>
{% endblock %}
