{% extends 'layouts/layout_auth.html' %}
{% block title %}
    Crear cuenta
{% endblock %}

{% block url_img %}
    <img src="{{ MEDIA_URL }}/img/register.jpeg"  alt="registro" class="object-cover rounded-t-lg md:rounded-l-lg h-full w-full " />
{% endblock url_img%}


{% block content %}
    <body class="bg-gray-600 flex items-center justify-center h-screen">
        <div class="bg-white shadow-lg rounded-lg p-8 w-full max-w-md">
            <h2 class="text-2xl font-bold text-gray-700 text-center mb-6">Crear cuenta</h2>
            <form method="post" class="space-y-6">
                {% csrf_token %}
                <div>
                    <label for="username" class="block text-sm font-medium text-gray-600">Usuario</label>
                    <input type="text" name="username" id="username"
                        class="bg-gray-300 w-full mt-1 px-4 py-2 border rounded-lg focus:ring focus:ring-blue-300 focus:outline-none">
                </div>
                <div>
                    <label for="email" class="block text-sm font-medium text-gray-600">Correo Electrónico</label>
                    <input type="email" name="email" id="email"
                        class="bg-gray-300 w-full mt-1 px-4 py-2 border rounded-lg focus:ring focus:ring-blue-300 focus:outline-none">
                </div>
                <div>
                    <label for="username" class="block text-sm font-medium text-gray-600">DNI</label>
                    <input type="text" name="dni" id="dni"
                        class="bg-gray-300 w-full mt-1 px-4 py-2 border rounded-lg focus:ring focus:ring-blue-300 focus:outline-none">
                </div>
                <div>
                    <label for="password1" class="block text-sm font-medium text-gray-600">Contraseña</label>
                    <input type="password" name="password1" id="password1"
                        class="bg-gray-300 w-full mt-1 px-4 py-2 border rounded-lg focus:ring focus:ring-blue-300 focus:outline-none">
                </div>
                <div>
                    <label for="password2" class="block text-sm font-medium text-gray-600">Confirmar Contraseña</label>
                    <input type="password" name="password2" id="password2"
                        class="bg-gray-300 w-full mt-1 px-4 py-2 border rounded-lg focus:ring focus:ring-blue-300 focus:outline-none">
                </div>
                <button type="submit"
                    class="w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 focus:ring focus:ring-blue-300">Registrarse</button>
            </form>
            <p class="mt-6 text-sm text-center text-gray-600">
                ¿Ya tienes cuenta?
                <a href="{% url 'usuario:login' %}" class="text-blue-600 hover:underline">Inicia Sesión</a>
            </p>
            <div class="mt-6 text-sm text-center text-gray-600">
                <a href="{% url 'home' %}" class="underline text-normal text-black py-8">Regresar a inicio</a>
            </div>
        </div>
    </body>

{% endblock %}
